<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="DatabaseConnectionString" connectionString="Server=4fe16340-4dc4-443a-b56d-a51500790e45.sqlserver.sequelizer.com;Database=db4fe163404dc4443ab56da51500790e45;User ID=zkyvsvlbzjflrbgk;Password=ZpEXoE458uiQ2p8Sp5TGKTFNXnnooYR7AkZ8w86yDdZvRRkNwBmUrPWfQY8brNPh;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
